---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Straw Library</h1>
</div>

<div>

  <p>
    <a href="https://github.com/strawjs/straw-android">straw-android</a>
    <a href="https://travis-ci.org/strawjs/straw-android"><img src="https://travis-ci.org/strawjs/straw-android.png?branch=master"></a>
    <a href="https://coveralls.io/r/strawjs/straw-android"><img src="https://coveralls.io/repos/strawjs/straw-android/badge.png"></a>
  </p>

  <p>
    <a href="https://github.com/strawjs/straw-android-plugin">straw-android-plugin</a>
    <a href="https://travis-ci.org/strawjs/straw-android-plugin"><img src="https://travis-ci.org/strawjs/straw-android-plugin.png?branch=master"></a>
    <a href="https://coveralls.io/r/strawjs/straw-android-plugin"><img src="https://coveralls.io/repos/strawjs/straw-android-plugin/badge.png"></a>
  </p>

  <p>
    <a href="https://github.com/strawjs/straw-android.js">straw-android.js</a>
    <a href="https://travis-ci.org/strawjs/straw-android.js"><img src="https://travis-ci.org/strawjs/straw-android.js.png?branch=master"></a>
    <a href="https://coveralls.io/r/strawjs/straw-android.js"><img src="https://coveralls.io/repos/strawjs/straw-android.js/badge.png"></a>
  </p>

  <p>
    <a href="https://github.com/strawjs/straw-android-plugin.js">straw-android-plugin.js</a>
    <a href="https://travis-ci.org/strawjs/straw-android-plugin.js"><img src="https://travis-ci.org/strawjs/straw-android-plugin.js.png?branch=master"></a>
    <a href="https://coveralls.io/r/strawjs/straw-android-plugin.js"><img src="https://coveralls.io/repos/strawjs/straw-android-plugin.js/badge.png"></a>
  </p>

</div>
