
/*= require './bootstrap-bootswatch.min.css' */

@charset "utf-8";


h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("https://1.gravatar.com/avatar/65adbfe28ca7937e17ead47565de4e1e?r=x&s=240") no-repeat center 0px;
  padding: 250px 0 10px 0;
  margin: 0; }


.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }


.welcome {
  text-align: center;
}

/* footer */

.footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5
}

.social-buttons {
    display: inline-block;
    box-sizing: border-box;
}

.social-button {
    display: inline-block;
    box-sizing: border-box;
}
